.footer {
    min-height: 20px;
    background:skyblue;
    position: bottom;
  }
  
  .footer span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px;
    background:skyblue;
  }